<div class="bg-gray-200">
    <app-navbar></app-navbar>
    <div class="container mx-auto mt-6 md:px-0 px-2">
        <div class="overflow-hidden shadow relative rounded-lg info w-full bg-gray-800 p-6 flex md:flex-row flex-col justify-between">
            <div class="flex items-center absolute z-40 bottom-0 right-0 h-10 w-full bg-white">
               <!-- start links's comptences -->
                <div class="md:ml-28 ">
                    <ul class="flex flex-wrap text-sm font-medium text-center" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
                        <li class="mr-2" role="presentation">
                            <button class="hidden md:inline-block p-4 text-xs" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                                Développeur web et web mobile
                            </button>
                            <button class="md:hidden inline-block p-4 text-xs" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                                web mobile
                            </button>
                        </li>
                        <li class="mr-2" role="presentation">
                            <button class="text-xs hidden md:inline-block p-4 hover:text-gray-600 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">
                                Concepteur⋅rice développeur⋅se d'applications
                            </button>
                            <button class="md:hidden inline-block text-xs p-4 hover:text-gray-600 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">
                                Concepteur⋅rice
                            </button>
                        </li>
                        <li class="mr-2" role="presentation">
                            <button class="hidden md:inline-block text-xs p-4 hover:text-gray-600 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">
                                Compétences transversales
                            </button>
                            <button class="md:hidden inline-block text-xs p-4 hover:text-gray-600 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">
                                transversales
                            </button>
                        </li>
                    </ul>
                </div>
                <!-- end links's comptences -->
            </div>
            <div class="flex">
                <div>
                    <img class="relative z-50 w-36 h-36 rounded-full border-8 border-white" src="https://media.istockphoto.com/id/1309328823/photo/headshot-portrait-of-smiling-male-employee-in-office.jpg?b=1&s=170667a&w=0&k=20&c=MRMqc79PuLmQfxJ99fTfGqHL07EDHqHLWg0Tb4rPXQc=">
                </div>
                <div class="text-white pl-4 py-2 font-medium flex flex-col">
                    <h3>Idriss ait haddou</h3>
                    <h3>@idrissaithadou</h3>
                    <button class="w-36 px-2 py-1 mt-2 rounded-lg bg-yellow-400 text-white">Edit Profile</button>
                </div>
            </div>
            <div class="w-full md:w-1/2 text-white flex item-center justify-between md:mt-0 mt-2">
                <div class="m-auto">
                    <h3 class="font-bold text-xl">Level</h3>
                    <span>2éme année</span>
                </div>
                <div class="m-auto">
                    <h3 class="font-bold text-xl">Classroom</h3>
                    <span>Breandin Eich</span>
                </div>
                <div class="m-auto">
                    <h3 class="font-bold text-xl">Promotion</h3>
                    <span>2022 - 2023</span>
                </div>
            </div>
            <div class="">
                <img class="mx-auto md:mr-6 w-52 h-36 rounded-lg text-white pb-4" src="/assets/images/UMv83.gif">
            </div>
        </div>
        <!-- all comptences -->
        <div class="container mx-auto">
                <div id="border myTabContent">
                    <div class="hidden p-4 rounded-lg" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <h1 class="text-black"><app-web-comptence></app-web-comptence></h1>
                    </div>
                    <div class="hidden p-4 rounded-lg" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
                        <h1 class="text-black"><app-concept-comptence></app-concept-comptence></h1>
                    </div>
                    <div class="hidden p-4 rounded-lg" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                        <h1 class="text-black"><app-transver-comptence></app-transver-comptence></h1>    
                    </div>
                </div>

        </div>
    </div>
</div>