<app-navbar></app-navbar>
<app-hero></app-hero>
<!-- view all  skills  -->
<div class="py-4">
    <div class="container mx-auto flex justify-between items-center border p-4 rounded-lg shadow-lg">
        <div *ngFor="let image of images" class="w-auto flex flex-col justify-center items-center">
            <img class="mr-2 w-8 h-8 rounded-full border-1 border-white" src="https://media.istockphoto.com/id/1309328823/photo/headshot-portrait-of-smiling-male-employee-in-office.jpg?b=1&s=170667a&w=0&k=20&c=MRMqc79PuLmQfxJ99fTfGqHL07EDHqHLWg0Tb4rPXQc=">
            <div class="flex flex-col justify-start items-center mt-4">
                <div *ngFor="let skill of skills" class="flex flex-col justify-start items-center border p-1 rounded-lg my-1 border-gray-100 shadow-sm">
                    <button class="ml-1 text-left bg-gray-200 w-8 h-4 rounded-lg mb-1 mr-2"> </button>
                    <button class="ml-1 text-left bg-gray-200 w-8 h-4 rounded-lg mb-1 mr-2"> </button>
                    <button class="ml-1 text-left bg-blue-500 w-8 h-4 rounded-lg mr-2"> </button>
                </div>
            </div>
        </div>
    </div>
</div>